@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Curso C# Completo/ Programação Orientada a Objetos + Projetos</a>.</p>
    <p>Professor: <a href="https://github.com/acenelio">Nelio Alves</a>.</p>
    <p>Aluno: <a href="https://github.com/xX-Mill3r-Xx">Miller vasco GitHub</a>.</p>
</div>

<div class="text-center">
    <h1>Salles Web MVC</h1>
</div>
